@import url("https://fonts.googleapis.com/css2?family=Pirata+One&family=Roboto:wght@400;700&display=swap");

/* General Styles */
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #14121b;
  color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80' width='80' height='80'%3E%3Cpath fill='%23e8b920' fill-opacity='0.4' d='M14 16H9v-2h5V9.87a4 4 0 1 1 2 0V14h5v2h-5v15.95A10 10 0 0 0 23.66 27l-3.46-2 8.2-2.2-2.9 5a12 12 0 0 1-21 0l-2.89-5 8.2 2.2-3.47 2A10 10 0 0 0 14 31.95V16zm40 40h-5v-2h5v-4.13a4 4 0 1 1 2 0V54h5v2h-5v15.95A10 10 0 0 0 63.66 67l-3.47-2 8.2-2.2-2.88 5a12 12 0 0 1-21.02 0l-2.88-5 8.2 2.2-3.47 2A10 10 0 0 0 54 71.95V56zm-39 6a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm40-40a2 2 0 1 1 0-4 2 2 0 0 1 0 4zM15 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm40 40a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'%3E%3C/path%3E%3C/svg%3E");
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: "Pirata One", cursive;
}

nav {
  width: 100%;
  background-color: #14121b;
  border-bottom: 2px solid #e8b920;
  padding: 1rem 0 0;
  display: flex;
  justify-content: center;
  gap: 0.825rem;
}

nav button {
  padding: 0.4rem 0.7rem;
  background-color: #14121b;
  color: #e8b920;
  border: 2px solid #e8b920;
  border-bottom: none;
  position: relative;
  bottom: -2px;
  border-radius: 0.75rem 0.75rem 0 0;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 0.95rem;
  letter-spacing: 1px;
  cursor: pointer;
  min-width: 110px;
  transition: 300ms all ease-in-out;
}

nav button:hover {
  border-bottom: none;
  color: #14121b;
  background-color: #e8b920;
}

nav button.active {
  background-color: #e8b920;
  color: #14121b;
  border: 2px solid #e8b920;
  border-bottom: 2px solid #e8b920;
  z-index: 1;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  gap: 0.8rem;
}

.home-logo {
  width: min(66vw, 500px);
  border: 3px solid #e8b920;
  border-radius: 2.5rem;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3),
    0px 0px 10px 6px rgba(255, 215, 0, 0.5);
}

.headline {
  font-size: 3rem;
  margin: 1rem;
  text-align: center;
  letter-spacing: 1px;
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
}

.description {
  font-size: 1.1rem;
  background-color: #14121b;
  border: 2px solid #e8b920;
  border-radius: 1rem;
  padding: 1rem;
  width: min(80vw, 500px);
  margin: 0 auto;
  text-align: center;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.6);
}

/* MENU */
.menu-container {
  width: min(90vw, 800px);
  margin: 0 auto;
  padding: 2rem;
}
